.paragraph {
  display: grid;
  place-items: center;
  color:  hsl(225, 20%, 60%);
  margin-top: 1rem;
}

ul {
  list-style: url('../../images/icon-check.svg');
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-bottom: 0.6rem;
  font-size: 1em;
}

@media (min-width: 56em) {
  .paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2.5rem;
  }

  ul {
    text-align: left;
  }

  li {
    font-size: 0.8em;
  }
}